{% extends 'admin/base.html' %}

{% block extrahead %}{{ block.super }}
<!--<style>-->
<!--  :root {-->
<!--      &#45;&#45;primary: #264b5d;-->
<!--      &#45;&#45;primary-fg: #f7f7f7;-->

<!--      &#45;&#45;body-fg: #eeeeee;-->
<!--      &#45;&#45;body-bg: #121212;-->
<!--      &#45;&#45;body-quiet-color: #e0e0e0;-->
<!--      &#45;&#45;body-loud-color: #ffffff;-->

<!--      &#45;&#45;breadcrumbs-link-fg: #e0e0e0;-->
<!--      &#45;&#45;breadcrumbs-bg: var(&#45;&#45;primary);-->

<!--      &#45;&#45;link-fg: #81d4fa;-->
<!--      &#45;&#45;link-hover-color: #4ac1f7;-->
<!--      &#45;&#45;link-selected-fg: #6f94c6;-->

<!--      &#45;&#45;hairline-color: #272727;-->
<!--      &#45;&#45;border-color: #353535;-->

<!--      &#45;&#45;error-fg: #e35f5f;-->
<!--      &#45;&#45;message-success-bg: #006b1b;-->
<!--      &#45;&#45;message-warning-bg: #583305;-->
<!--      &#45;&#45;message-error-bg: #570808;-->

<!--      &#45;&#45;darkened-bg: #212121;-->
<!--      &#45;&#45;selected-bg: #1b1b1b;-->
<!--      &#45;&#45;selected-row: #00363a;-->

<!--      &#45;&#45;close-button-bg: #333333;-->
<!--      &#45;&#45;close-button-hover-bg: #666666;-->
<!--    }-->
<!--</style>-->
{% endblock %}