{% extends 'admin/change_list.html' %}

{% load static %}

{% block object-tools %}
{{ block.super }}
<div class="module" id="changelist">
    <div class="changelist-form-container">
        <div style="color: red" id="error_group"></div>
        <div class="actions">
            <label>Выберите группу:
                <select name="action" id="group">
                    <option value="" selected="">---------</option>
                    {% for group in groups %}
                    <option value="{{group.id}}">{{group}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div style="color: red" id="error_date-start"></div>
        <div class="actions">
            <label>Выберите дату от:
                <input type="date" class="vTextField" style="margin-left: 5px" id="date-start">
            </label>
        </div>
        <div style="color: red" id="error_date-end"></div>
        <div class="actions">
            <label>Выберите дату до:
                <input type="date" class="vTextField" style="margin-left: 5px" id="date-end">
            </label>
            <button class="button"
                    id="getStudents">Выполнить
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block object-tools-items %}
<li>
    <a id="export_btn" href="#" class="addlink" style="display: none">
        Export
    </a>
    <a id="edit_btn" href="edit/" class="addlink" style="margin-left: 5px; display: none">
        Изменить посещаемость
    </a>
</li>
{{ block.super }}
{% endblock %}


{% block result_list %}
<div class="results" style="overflow-x:auto;">
    <table id="result_list">
        <thead>
        <tr>
            <th scope="col" class="column-__str__">
                <div class="text"><span>#</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__str__">
                <div class="text"><span>Студент</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>1 час</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>2 час</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>3 час</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>4 час</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>5 час</span></div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-__int__">
                <div class="text"><span>Итог</span></div>
                <div class="clear"></div>
            </th>
        </tr>
        </thead>
        <tbody id="students">
        <tr style="text-align: center">
            <td colspan="7">
                No data !
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="{% static 'attendance/js/jquery.min.js' %}"></script>
<script>
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    function validate(id) {
            let data = $("#" + id).val()

            if (data !== "") {
                $("#error_" + id).text("")
                return data
            }

            $("#error_" + id).text("Это поля обезятелний")
            return false
        }

    function getStudents(count)
    {
        let data = []

        for (let i = 0; i < count; i++) {
            data.push({
                "id": $("#students_" + i + "_id").val(),
                "time_1": $("#students_" + i + "_time_1").is(":checked"),
                "time_2": $("#students_" + i + "_time_2").is(":checked"),
                "time_3": $("#students_" + i + "_time_3").is(":checked"),
                "time_4": $("#students_" + i + "_time_4").is(":checked"),
                "time_5": $("#students_" + i + "_time_5").is(":checked"),
            })
        }
        return data
    }
</script>
<script>
    $(function () {
        const url = "{% url 'attendance' %}";

        // GET all todos
        $("#getStudents").on('click', () => {
            let date_end = $("#date-end").val();
            let group = validate("group")
            let date_start = validate("date-start")

            if (group && date_start) {
                $.ajax({
                    url: url,
                    data: {
                        'date-start': date_start,
                        'date-end': date_end,
                        'group': group
                    },
                    success: function ({data, attendance_pk}) {
                        const students = $("#students");
                        const btn_edit = $("#edit_btn");
                        const btn_export = $("#export_btn");
                        students.empty();

                        if (data.length > 0) {
                            if (date_end === "") {
                                btn_edit.show()
                                btn_edit.attr('href', `${attendance_pk}/change/`)
                            } else {
                                btn_edit.hide()
                            }

                            btn_export.show()
                            btn_export.attr('href', `{% url 'export_excel' %}?date_start=${date_start}&date_end=${date_end}&group=${group}`)

                            $.each(data, function (key, value) {
                                students.append(`
                                <tr>
                                    <td>${key + 1}</td>
                                    <td>${value.students__fio}</td>
                                    <td>${value.time_1}</td>
                                    <td>${value.time_2}</td>
                                    <td>${value.time_3}</td>
                                    <td>${value.time_4}</td>
                                    <td>${value.time_5}</td>
                                    <td>${value.time_total}</td>
                                </tr>
                            `)
                            })
                        } else {
                            btn_edit.hide()

                            students.append(`
                            <tr style="text-align: center">
                                <td colspan="7">
                                    Результат филтра пусть
                                </td>
                            </tr>
                        `)
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}